@charset "utf-8";
@import './colors';

// overwrite defaults
$primary: $pink;
$link: $green;
// $info: $brown-dark;
$success: $green;
// $warning: $yellow;
// $danger: $red;
// $dark: $brown-dark;
// $text: $green;
// $background: $brown-dark;
// $body-background-color: $brown-dark;

body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

$card-background-color: hsl(0, 0%, 96%);

// style scrollbar
* {
	// firefox
	scrollbar-width: thin;
	scrollbar-color: lightgray white;
}

// Chrome, Safari, Edge
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: lightgray;
}

*::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 20px;
	border: 3px solid lightgray;
}

.card-header-icon {
	transition: 0.3s;
	&.rotated {
		transform: rotate(-180deg);
	}
}

@import '../../node_modules/bulma/bulma.sass';
